@import "tailwindcss";
@import "../styles/fonts.css";
@import "../styles/theme.css";
@import "../styles/variables.css";

:root {
  --background: #ffffff;
  --text-primary: #000;
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-body), sans-serif;
  
}

/* * {
  outline: 1px solid red;
} */