@theme inline {
    --font-body: var(--font-epilogue);
    --font-heading: var(--font-fredoka);
    --font-logo: var(--font-fugaz);
    --font-oswald: var(--font-oswald);
    --color-background: var(--background);

    --color-primary: var(--text-primary);
    --color-secondary: #555;
    --color-tertiary: #F3274C;
    --color-quaternary: #fff;
    --color-quinary: #999999;
    --color-senary: #AAAAAA;
    --color-septenary: #888888;

    --color-footer-icon: #616161;
    --color-footer-form: #616161;
    --color-footer-form-border: #DEDEDE;


    --color-hover-secondary: #555;

    --color-logo: #EE3A43;
    --color-nav-link: #212121;
    --color-nav-link-hover: #EE3A43;
    --color-card: #00A149;
    --color-overlay-img: rgba(243, 39, 76, 0.70);

    --color-cta-primary: #F3274C;
    --color-cta-secondary: #FFC222;
    --color-cta-tertiary: #000;
    --color-cta-submit: #FFD40D;

    --color-cta-primary-hover: #d41e3c;
    --color-cta-secondary-hover: #E6AE00;
    --color-cta-tertiary-hover: #222222;

    --color-dot-active: #F3274C;
    --color-dot-inactive: #B5B5B5;


    --color-discount-price: #FFD40D;
    --color-count: #212121;

    --color-border-card: #FFD40D;
    --color-border-footer: #FFD40D;
    --color-card-bg: rgba(0, 0, 0, 0.8);
    --color-border-chip: #E4E4E4;
    --color-circles: #F5F8FD;

    --color-border-menu: #000;

    --color-primary-section: #F5F8FD;
    --color-app-section: #F3274C;
    --color-overlay-gallery: rgba(255, 255, 255, 0.70);

    --color-bg-cart: #1a1a1a;
    --color-cart-border: #333333;
    --color-cart-bg: #242424;
    --color-close: #333333;
    --color-close-icon: #999999;
    --color-border-btn: #444444;
    --color-add-btn: #000000;
    --color-total-price: #FFD40D;


    --color-checkout-border: #2A2A2A;
    --color-checkout-input: #1A1A1A;
    --color-delivery-fee: #1A1A1A;
    --color-input-check: #444444;
}